.heading {
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  width: 100vw;
}

.anchor {
  padding: 0 8px;
  transition: color ease 500ms;
}
.anchor:hover,
.card:focus,
.card:active {
  color: #0070f3;
}
